In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df = pd.read_csv('country-and-continent-codes-list-csv.csv')

In [3]:
df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [4]:
df.drop(['Continent_Code','Country_Name','Two_Letter_Country_Code','Country_Number'], axis = 1, inplace = True)

In [5]:
df.rename(columns={"Continent_Name": "Continent","Three_Letter_Country_Code":"Code"})

         Continent Code
0             Asia  AFG
1           Europe  ALB
2       Antarctica  ATA
3           Africa  DZA
4          Oceania  ASM
5           Europe  AND
6           Africa  AGO
7    North America  ATG
8           Europe  AZE
9             Asia  AZE
10   South America  ARG
11         Oceania  AUS
12          Europe  AUT
13   North America  BHS
14            Asia  BHR
15            Asia  BGD
16          Europe  ARM
17            Asia  ARM
18   North America  BRB
19          Europe  BEL
20   North America  BMU
21            Asia  BTN
22   South America  BOL
23          Europe  BIH
24          Africa  BWA
25      Antarctica  BVT
26   South America  BRA
27   North America  BLZ
28            Asia  IOT
29         Oceania  SLB
..             ...  ...
232           Asia  ARE
233         Africa  TUN
234         Europe  TUR
235           Asia  TUR
236           Asia  TKM
237  North America  TCA
238        Oceania  TUV
239         Africa  UGA
240         Europe  UKR
241         Europe  MKD
242         Africa  EGY
243         Europe  GBR
244         Europe  GGY
245         Europe  JEY
246         Europe  IMN
247         Africa  TZA
248  North America  USA
249  North America  VIR
250         Africa  BFA
251  South America  URY
252           Asia  UZB
253  South America  VEN
254        Oceania  WLF
255        Oceania  WSM
256           Asia  YEM
257         Africa  ZMB
258        Oceania  NaN
259           Asia  NaN
260           Asia  NaN
261           Asia  NaN

[262 rows x 2 columns]

In [7]:
df.to_csv("../data/continents_countries.csv")